body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    background-color: lightblue;
}

img {
    border: 2px solid lightcoral;
    width: 600px;
    height: 400px;
}

a {
    margin-top: 20px;
}